<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-dark2">
  <div class="container">
    <a class="navbar-brand " href="javascript:void(0);">
      <img src="../assets/mb-star.svg" class="d-inline-block align-top" alt="">
      <span class="brand-name">{{brandName}}</span>
    </a>
    <div class="nav-right">
      <div class="text-right">
        {{totalPrice  | number : '1.2-2'}} <span class="bag"></span>
        <img src="../assets/shoppingBag.png" class="d-inline-block align-top bag-icon" alt="">
      </div>
    </div>

  </div>
</nav>
<div class="section search container">
  <div class="row">
    <div class="col-6 text-left">
      <h4>{{searchTitle}}</h4>
    </div>
    <div class="col-6 text-right">
      <input placeholder="Type to Filter..." type="search" [(ngModel)]="carname">
    </div>
  </div>
</div>
<div class="section products container">
  <div class="row" #cardata>
    <ng-container *ngIf="isSpinnerRunning">
      <div class="container text-center">
        <img src="{{ '../assets/carImages/loading.gif' }}">
      </div>
    </ng-container>
    <div class="col-4 carCard" #cardata *ngFor="let car of json | filtercar: carname ; index as i">
      <h5 class="card-title">{{car.version}}</h5>
      <div class="card-deck ">
        <div class="card shadow-sm" id="{{'card'+i}}" [ngClass]="car.selected ? 'selected' : ''">
          <img src="{{car.imagePath}}" class="card-img-top" alt="Mercedes Benz">
          <div class="card-body">
            <p class="card-text">{{car.price.amount | currency : car.price.currency:'symbol':'1.2-2'}}</p>
          </div>
          <a href="javascript:void(0);">
            <div *ngIf="car.selected; else addBag">
              <div class="card-footer" (click)="remove(car, i)">
                <small>{{removeFromBag}}</small>
              </div>
            </div>
            <ng-template #addBag>
              <div class="card-footer" (click)="add(car, i)">
                <small>{{addToBag}}</small>
              </div>
            </ng-template>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section container developer">
    <div class="footer">
      {{developerName}}
    </div>
  </div>
  <router-outlet></router-outlet>
